body {
    font-family: "RobotoRegular", sans-serif;
    color: #FFFFFF;
    margin: 0;
}

p, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 100px;
    right: 100px;
    padding: 0;
}

.company {
    margin-left: 6px;
}

.company h4 {
    font-family: 'Viga', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.company p {
    font-family: 'Viga', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.5);
}

.menu-item,
.mode-search-item {
    margin-right: 28px;
}

.menu-item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu-item:last-child {
    margin-right: 0;
}

.header-nav ul,
.menu-mode-search ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.mode-search-item img {
    cursor: pointer;
}

.carousel-caption {
    text-align: start;
    left: 5%;
    width: 28%;
    padding: 0;
    top: 30%;
}

.carousel-caption p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-caption h5 {
    font-family: 'Viga', sans-serif;
    font-weight: 400;
    font-size: 170px;
    line-height: 228px;
    color: #FFFFFF;
    margin: 0;
}

.carousel-caption h1 {
    font-family: 'RobotoBold', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-left: 10px;
}

.take-a-look p {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;}

.carousel-indicators {
    margin-bottom: 3px;
}

.carousel-indicators [data-bs-target] {
    margin: 0;
    width: 10%;

}

.carousel-control-prev-icon {
    background-image: url("images/arrow-left.svg");

}

.carousel-control-next-icon {
    background-image: url("images/arrow-right.svg");
}

.carousel-inner {
    position: static;
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    position: static;
    bottom: 10%;
}

.prev-next-ind {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .carousel-caption h5 {
        font-size: 120px;
        line-height: 120px;
    }
}

@media screen and (max-width: 1300px) {
    .carousel-caption h5 {
        margin-left: 7px;
    }

    .carousel-caption p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        left: 70px;
        right: 70px;
    }

    .carousel-caption {
        top: 35%;
    }

    .carousel-caption h5 {
        font-size: 100px;
        line-height: 100px;
    }

    .carousel-caption p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .take-a-look p {
        font-size: 15px;
        line-height: 15px;
    }

    .prev-next-ind {
        bottom: 10px
    }
}

@media screen and (max-width: 1000px) {
    .navbar-brand img {
        max-width: 30px;
        max-height: 17px;
    }

    .w-100 {
        width: auto !important;
    }

    .carousel-item img {
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }
}

@font-face {
    font-family: "Viga";
    src: url('fonts/Viga-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "RobotoRegular";
    src: url('fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "RobotoBold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
}